
.adjust{
    margin-left: 10%; 
    margin-right: 10%;
    width: 12%;
    padding: 2.5%;
    border: 2px solid gray; 
    border-radius: 5px;
    /* box-shadow: gray; */
    /* box-shadow: 0 0 15px 4px rgba(207, 148, 148, 0.04); */
    box-shadow: 3px 3px 3px 2px gray;

   }
   @media only screen and (min-width: 300px)
{
   .adjust{
    width: 15%;
   }
   .img{
       width: 30px;
       height: 30px;
   }
}
@media only screen and (max-width: 400px)
{
   .adjust{
        margin-left: 160px;     
       width: 200px;
       box-shadow: 0 0 15px 4px rgba(207, 148, 148, 0.04);

   }
   .img{
       width: 30px;
       height: 30px;
   }
}
