

.websitebody {
  margin: 0;
  padding: 0;
  background: white;
  font-family: Open Sans;
}

/* navbar */
.navbar
{
	background-color: #556AFF !important;
}

.our-brand{
	width: 40px;
	height: 40px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	
}

.brand-logo{
	
	width: 40px;
	height: 40px;
}

.navbar > .collapse > .navbar-nav > .nav-item {
	margin-right: 16px;
  	transition: 0.5s;
}

.navbar > .collapse > .navbar-nav > .nav-item:hover {
	border-radius: 5px;
	  background-color: #CCC8FF;	 
}


nav {
  opacity: 1;
}

/* navbar */

.img-slider{	
	box-shadow:  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
	-8px -8px 12px 0 rgba(66, 63, 63, 0.3);
}

.carousel-item > img {
  height: 1000px;
  
}

.slider-info {
  background-color: rgba(167, 154, 154, 0.7);
  border-radius: 10px;
}


.service-box {
	background-color: #CCC8FF !important;
	border-radius: 10px;
	position: relative;
	width: auto;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.service-box>.service-box-info>h5 {
	font-weight: 500;
	font-size: 20px;
	text-align: center;
}

.service-box>.service-box-info>p {
	font-size: 20px;
	padding-top: 1rem;
	opacity: 1;
}


.service-box>img{
	
	height: 300px;
	width: 300px;
	border-radius: 10px;
	transition: .5s ease;
}

.service-box-info{
	text-align: justify;
	padding: 15px;
	position: absolute;
	color: black;
	opacity: 0;
;
}

.service-box:hover .service-box-info{
	opacity: 1;
}

.service-box:hover img{
	
	opacity: 0.1;
}

.heading-mobile{
	display: none;
}

/* for tablets */

@media all and (max-width: 1024px) {

	
	.nav-item{
		text-align: center;
	}
	.carousel-item > img {
	  height: 600px;
	}

	
	.slider-info>p{
		display: none;
	}
  
	.service-box{
		background-color: #CCC8FF !important;
	}
  
	.service-box>img{
		border-radius: 10px 10px 0px 0px;
	}
  
	.service-box-info>p{
	  padding-top: 2rem;
	  text-align: justify;
  }
  
  .heading-mobile{
	  display: block;
	  width: auto;
	  height: 40px;
	  background-color: #A6A8FF;
	  text-align: center;
	  line-height: 2;
	  border-radius: 0px 0px 10px 10px;
	  /* box-shadow: 2px 5px #888888; */
	  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
	  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  }
  
  }

  /* for mobiles */

@media all and (max-width: 600px) {

	.navbar > .collapse > .navbar-nav > .nav-item {
		margin-right: 0px;
	}
	.carousel-item > img {
		height: 600px;
		
	  }

	.slider-info{
		
		font-size: 10px;
	}
	.slider-info>p{
		display: none;
	}
	

	.nav-item{
		text-align: center;
		
	}
  .carousel-item > img {
    height: 300px;
  }

  .service-box{
	  background-color: #CCC8FF;
  }

  .service-box>img{
	  border-radius: 20px 20px 0px 0px;
  }

  .service-box-info>p{
	padding-top: 2rem;
	text-align: justify;
}

.heading-mobile{
	display: block;
	width: auto;
	height: 40px;
	background-color: #A6A8FF;
	text-align: center;
	line-height: 2;
	border-radius: 0px 0px 20px 20px;
	/* box-shadow: 2px 5px #888888; */
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

}

.page-footer
{
	background-color: #556AFF !important;
}