/* navbar */
.navbar
{
	background-color: #556AFF !important;
}

.our-brand{
	width: 40px;
	height: 40px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	
}

.brand-logo{
	
	width: 40px;
	height: 40px;
}

.navbar > .collapse > .navbar-nav > .nav-item {
	margin-right: 16px;
  	transition: 0.5s;
}

.navbar > .collapse > .navbar-nav > .nav-item:hover {
	border-radius: 5px;
	  background-color: #CCC8FF;	 
}


nav {
  opacity: 1;
}

/* navbar */
